<!doctype html>
<html lang="[% page.language %]">
<head>
   <meta charset="utf-8">
   <title>[% config.title %] - [% page.title %]</title>
   <meta name="viewport" content="width=device-width,initial-scale=1.0">
   <meta name="apple-mobile-web-app-capable" content="yes">
   <meta name="description" content="[% loc( page.description ) %]">
   <meta name="keywords" content="[% page.keywords %]">
   <meta name="generator" content="[% config.title %] v[% application_version %]">
   <link href="[% links.images %][% config.favicon.0 %]" rel="shortcut icon">
[% IF page.font -%]
   <link href="[% page.font %]" rel="stylesheet" type="text/css">
[% END -%]
   <link href="[% links.css %][% session.skin %]-[% session.theme %].css"
          rel="stylesheet" type="text/css">
[% IF page.css -%]
   <style>[% page.css %]</style>
[% END -%]
[% IF links.rss_uri -%]
   <link href="[% links.rss_uri %]" rel="alternate" title="RSS"
         type="application/rss+xml">
[% END -%]
</head>
<body class="[% session.grid_type %]" id="body">
   [% content -%]
</body>
</html>
