blib/
.build/
_build/
cover_db/
Build
!Build/
Build.bat
.burp.json
.directory
.last_cover_stats
LICENSE
Makefile
Makefile.old
MANIFEST.bak
META.json
META.yml
MYMETA.json
MYMETA.yml
nytprof.out
pm_to_blib
README
README.pod
lib/App/Notitia/app-notitia_local.json
t/ipc_srlock*
var/backups
var/etc/app-notitia.json
var/etc/state-cache.json
var/etc/profile
var/docs/.mtime
var/docs/assets
var/docs/en/*
var/locale/en/notitia_local.po
var/logs
var/less/hyde/light.less
var/session
var/root/css/hyde-light.css
var/run
var/templates/emails/*
var/tmp
*.tar.gz
App-Notitia-*.*.*