<!-- Change Password -->
<label class="label" for="password">[% loc( 'Password' ) %]</label>
<input autocomplete="off" class="standard-field reveal" id="password"
       name="password" type="password"><br/>
<label class="label" for="again">[% loc( 'Again' ) %]</label>
<input class="standard-field reveal" id="again"
       name="again" type="password">
