[% PROCESS 'hyde/macros.tt' -%]
<!-- Claim Slot -->
<form action="[% page.fields.slot_href %]"
     enctype="application/x-www-form-urlencoded"
      method="post" name="claim-slot">
[% IF page.fields.request_bike; CheckBox( page.fields.request_bike ); END -%]
[% Button( page.fields.confirm ) -%]
</form>
