<!-- Document Content -->
<div class="unit four-fifths">
   <article class="document">
[% IF page.editing -%]
[%    INCLUDE 'hyde/editor.tt' -%]
[% ELSE -%]
[%    INCLUDE 'hyde/editing-links.tt' -%]
      <h4>[% page.title %]</h4>
[%    page.content | eval %]
[%    INCLUDE 'hyde/section_nav.tt' -%]
[% END -%]
   </article>
</div>
