[% PROCESS 'hyde/macros.tt' -%]
<!-- Login User -->
<form action="[% links.base_uri %]user/login"
     enctype="application/x-www-form-urlencoded"
      method="post" name="login-user">
[% TextField( page.fields.username ) -%]
[% PasswordField( page.fields.password ) -%]
[% Button( page.fields.login ) -%]
</form>
