[% PROCESS 'hyde/macros.tt' -%]
<!-- Message People -->
<div class="standard-form">
[% Select( page.fields.template ) -%]
[% RadioButtons( page.fields.sink ) -%]
[% Button( page.fields.confirm ) -%]
</div>