<!-- Rota Content -->
<div class="unit four-fifths">
   <article>
      <h4>[% page.title %]</h4>
[% path = 'hyde/' _ page.template.2 _ '.tt'; INCLUDE $path -%]
[% INCLUDE 'hyde/section_nav.tt' -%]
   </article>
</div>
