<!-- TOTP Secret -->
<div class="unit four-fifths">
   <article>
      <h4>[% page.title %]</h4>
[%    TextField( page.fields.username ) -%]
[%    Dispatch( page.fields.qr_code ) -%]
[%    Text( page.fields.otpauth ) -%]
   </article>
</div>
