<!-- TOTP Secret -->
<div class="unit four-fifths">
   <article>
      <h4>[% page.title %]</h4>
[%    TextField( page.fields.qr_code ) -%]
[%    TextField( page.fields.otpauth ) -%]
   </article>
</div>
