<!-- Week Table -->
<div class="unit four-fifths">
   <article>
      <h4>[% page.title %]</h4>
      <div class="operation-links left">
         <div class="left align-right">
[% Link( page.fields.nav.lshift, 'left-shift', loc( 'Prev Day' ) ) -%]
         </div>
         <div class="right align-left">
[% Link( page.fields.nav.rshift, 'right-shift', loc( 'Next Day' ) ) -%]
         </div>
      </div>
[% Table( page.rota ) -%]
[% INCLUDE 'hyde/section-nav.tt' -%]
   </article>
</div>
